/*UNIVERSAL STYLES*/
body {
  background-image: url(bg.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif; }

.backgroundOverlay {
  width: 100%;
  background-color: yellow;
  position: absolute;
  background-color: #222222;
  opacity: .7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.wrapper {
  width: 60%;
  margin: 0 auto;
  /*min-height: 900px;*/ }

/*UNIVERSAL STYLES*/
body {
  background-image: url(../bg.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif; }

.backgroundOverlay {
  width: 100%;
  background-color: yellow;
  position: absolute;
  background-color: #222222;
  opacity: .7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.wrapper {
  width: 60%;
  margin: 0 auto;
  /*min-height: 900px;*/ }

/*HEADER STYLES*/
header {
  /*background-color: lightpink;*/
  width: 100%;
  text-align: right; }

header p {
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #D1CDCA;
  text-transform: uppercase;
  vertical-align: text-bottom;
  margin-right: 7px; }

header div {
  display: inline-block; }

header ul {
  margin-right: -168px;
  position: relative; }

header li {
  font-size: 8px;
  margin-top: -5px;
  margin-left: 112px;
  color: white; }

.socialContainer {
  display: inline-block;
  width: 40%;
  padding-top: 4px;
  position: relative; }

.facebookBox {
  width: 13%;
  height: 37px;
  display: inline-block;
  border-bottom: 3px solid #878787;
  vertical-align: bottom;
  background-image: url(../facebookHeader.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative;
  background-color: #445897; }

.rssBox {
  width: 13%;
  height: 37px;
  /*background-color: green;*/
  display: inline-block;
  border-bottom: 3px solid #878787;
  vertical-align: bottom;
  background-image: url(../rssHeader.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative;
  background-color: #CC8F32; }

.twitterBox {
  width: 13%;
  height: 37px;
  background-color: #6A8DC7;
  display: inline-block;
  border-bottom: 3px solid #878787;
  vertical-align: bottom;
  background-image: url(../twitterHeader.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative; }

.youtubeBox {
  width: 13%;
  height: 37px;
  background-color: #B2382D;
  display: inline-block;
  border-bottom: 3px solid #878787;
  vertical-align: bottom;
  background-image: url(../youtubeHeader.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative; }

/*NAV CONTAINER STYLES*/
.navContainer {
  width: 100%; }

.navLinksContainer {
  background-color: #B4292E;
  width: 24.1%;
  display: inline-block;
  height: 30px;
  border-bottom: #919091 3px solid;
  margin-left: 4px;
  margin-right: -1.1px;
  position: relative;
  text-align: center; }

.navHeader {
  display: inline-block;
  margin-top: 3%; }

.navHeader p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  color: #F4EDE3;
  margin: 0 auto;
  font-weight: 100;
  margin: 0px 5px; }

.navHeader p:first-child, p:last-child {
  font-weight: 900;
  margin: 0px 8px;
  font-family: ariel; }

/*SLIDER CONTAINER STYLES*/
.sliderContainer {
  /*background-color: grey;*/
  width: 100%;
  min-height: 200px;
  position: relative; }

.sliderPic {
  margin-top: 22px;
  border: white 7px solid;
  width: 100%;
  background-image: url(../top-image.png);
  background-size: 132%;
  height: 260px;
  background-repeat-y: 337;
  background-repeat: no-repeat;
  background-position-y: -115px;
  background-position-x: -86px;
  box-sizing: border-box; }

.overlaySlider {
  background-image: url(../grid.png);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 7px;
  position: absolute;
  margin-left: -3px;
  width: 100%;
  opacity: .2; }

.sliderPic img {
  position: relative;
  height: 158px;
  top: 54px;
  left: 14px; }

/*TEXT CONTAINER STYLES*/
.textContainer {
  /*background-color: #c49db0;*/
  width: 100%;
  /*min-height: 200px;*/
  position: relative; }

.wrapperText {
  margin: 0 auto;
  width: 80%;
  margin-top: 18px;
  font-size: 21px;
  font-weight: bold;
  color: #393A36; }

.textBox {
  display: inline-block;
  background-color: #F8F8F8;
  width: 31%;
  margin-top: 55px;
  margin-right: 15px;
  vertical-align: top;
  min-height: 269px;
  border-bottom: 3px solid #878787; }

.date {
  font-size: 12px;
  color: #C8C8C8; }

.textArea {
  font-size: 11px;
  color: #898989;
  min-height: 93px;
  font-weight: 800; }

.textAreaLast {
  font-size: 10px;
  color: #898989;
  min-height: 122px;
  margin-bottom: 38px; }

.readMore {
  text-align: center;
  color: #B74247;
  font-size: 12px; }

/*SKATER PROFILE CONTAINER STYLES*/
.skaterProfileContainer {
  width: 100%;
  min-height: 200px;
  position: relative;
  margin-top: 21px;
  font-family: 'Biryani', sans-serif; }

.profileLeftContainer {
  display: inline-block;
  width: 70%; }

.profileRightContainer {
  display: inline-block;
  width: 27%;
  height: 170px; }

.lanceContainer {
  background-image: url(../lance.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 164px;
  width: 47.7%;
  border: 3px solid white;
  background-size: 346px;
  background-position-x: -67px; }

.lanceContainer p {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: 43px 78px;
  font-family: 'Biryani', sans-serif; }

.lanceContainer span {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: -26px -43px; }

.rodneyContainer {
  background-image: url(rodney.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 164px;
  width: 49%;
  border: 3px solid white; }

.rodneyContainer p {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: 43px 78px;
  font-family: 'Biryani', sans-serif; }

.rodneyContainer span {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: -28px 1px;
  font-family: 'Biryani', sans-serif; }

.steveContainer {
  background-image: url(steve.png);
  background-repeat: no-repeat;
  height: 180px;
  width: 98.7%;
  border: 3px solid white;
  background-position-y: -44px;
  background-size: 577px;
  background-position-x: 2px; }

.steveContainer p {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: 71px 153px;
  font-family: 'Biryani', sans-serif; }

.tommyContainer {
  background-image: url(tommy.png);
  background-repeat: no-repeat;
  height: 360px;
  width: 98.7%;
  border: 3px solid white;
  background-size: 637px;
  background-position-x: -299px;
  background-position-y: 2px; }

.tommyContainer p {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: 147px 47px;
  font-family: 'Biryani', sans-serif; }

.tommyContainer span {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: -24px -44px; }

/*SKATE BOARD CONTAINER STYLES*/
.skateBoardContainer {
  background-color: white;
  width: 98%;
  position: relative;
  margin-top: 35px;
  border-bottom: 3px solid #949494; }

.wrapperSkateBoard {
  width: 90%;
  margin: 0 auto; }

.skateBoardBox {
  display: inline-block;
  width: 9.4%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 211px;
  background-size: 73%;
  background-position: center;
  padding: 16px 0; }

#one {
  background-image: url(sk8-3.png); }

#two {
  background-image: url(sk8-4.png); }

#three {
  background-image: url(sk8-5.png); }

#four {
  background-image: url(sk8-6.png); }

#five {
  background-image: url(sk8-7.png); }

#six {
  background-image: url(sk8-8.png); }

#seven {
  background-image: url(sk8-9.png); }

#eight {
  background-image: url(sk8-10.png); }

#nine {
  background-image: url(sk8-2.png); }

#ten {
  background-image: url(sk8-1.png); }

/*FOOOTER STYLES*/
footer {
  background-color: white;
  width: 98%;
  /*min-height: 200px;*/
  position: relative;
  color: #444543;
  margin-top: 20px; }

.wrapperFooter {
  margin: 0 auto;
  width: 90%; }

.aside {
  width: 45%;
  padding: 30px 0px;
  display: inline-block; }

.aside h7 {
  font-weight: 600;
  font-size: 16px; }

.aside p {
  font-weight: 100;
  font-size: 13px; }

.footerSocialContainer {
  width: 51%; }

.footerSocialBox {
  background-color: grey;
  width: 20%;
  min-height: 34px;
  margin-right: 5px;
  display: inline-block; }

#facebook {
  background-image: url(facebookFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #4F4F4F; }

#rss {
  background-image: url(rssFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #ADADAD; }

#twitter {
  background-image: url(twitterFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #7B7B7B; }

#youtube {
  background-image: url(youtubeFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #757575; }

.section {
  width: 45%;
  padding: 30px 0px;
  display: inline-block; }

textarea {
  width: 53%;
  height: 30px; }

/*ARROW CONTAINER*/
.arrowContainer {
  width: 12%;
  height: 76px;
  background-color: #B4292E;
  top: 47%;
  position: absolute;
  left: 5%;
  border-bottom: 2px grey solid; }

.arrowPoint {
  width: 10%;
  height: 100px;
  top: 47%;
  position: absolute;
  left: 17%;
  height: 0;
  border-top: 38px solid transparent;
  border-bottom: 38px solid transparent;
  border-left: 27px solid #B4292E; }

.arrowContainer p {
  margin-top: 14%;
  text-transform: uppercase;
  color: white;
  font-size: 23px;
  margin-left: 7%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 900; }

/*HEADER STYLES*/
header {
  /*background-color: lightpink;*/
  width: 100%;
  text-align: right; }

header p {
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #D1CDCA;
  text-transform: uppercase;
  vertical-align: text-bottom;
  margin-right: 7px; }

header div {
  display: inline-block; }

header ul {
  margin-right: -168px;
  position: relative; }

header li {
  font-size: 8px;
  margin-top: -5px;
  margin-left: 112px;
  color: white; }

.socialContainer {
  display: inline-block;
  width: 40%;
  padding-top: 4px;
  position: relative; }

.facebookBox {
  width: 13%;
  height: 37px;
  display: inline-block;
  border-bottom: 3px solid #878787;
  vertical-align: bottom;
  background-image: url(../facebookHeader.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative;
  background-color: #445897; }

.rssBox {
  width: 13%;
  height: 37px;
  /*background-color: green;*/
  display: inline-block;
  border-bottom: 3px solid #878787;
  vertical-align: bottom;
  background-image: url(../rssHeader.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative;
  background-color: #CC8F32; }

.twitterBox {
  width: 13%;
  height: 37px;
  background-color: #6A8DC7;
  display: inline-block;
  border-bottom: 3px solid #878787;
  vertical-align: bottom;
  background-image: url(../twitterHeader.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative; }

.youtubeBox {
  width: 13%;
  height: 37px;
  background-color: #B2382D;
  display: inline-block;
  border-bottom: 3px solid #878787;
  vertical-align: bottom;
  background-image: url(../youtubeHeader.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative; }

/*NAV CONTAINER STYLES*/
.navContainer {
  width: 100%; }

.navLinksContainer {
  background-color: #B4292E;
  width: 24.1%;
  display: inline-block;
  height: 30px;
  border-bottom: #919091 3px solid;
  margin-left: 4px;
  margin-right: -1.1px;
  position: relative;
  text-align: center; }

.navHeader {
  display: inline-block;
  margin-top: 3%; }

.navHeader p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  color: #F4EDE3;
  margin: 0 auto;
  font-weight: 100;
  margin: 0px 5px; }

.navHeader p:first-child, p:last-child {
  font-weight: 900;
  margin: 0px 8px;
  font-family: ariel; }

/*SLIDER CONTAINER STYLES*/
.sliderContainer {
  /*background-color: grey;*/
  width: 100%;
  min-height: 200px;
  position: relative; }

.sliderPic {
  margin-top: 22px;
  border: white 7px solid;
  width: 100%;
  background-image: url(../top-image.png);
  background-size: 132%;
  height: 260px;
  background-repeat-y: 337;
  background-repeat: no-repeat;
  background-position-y: -115px;
  background-position-x: -86px;
  box-sizing: border-box; }

.overlaySlider {
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 7px;
  position: absolute;
  margin-left: -3px;
  width: 100%;
  opacity: .2; }

.sliderPic img {
  position: relative;
  height: 158px;
  top: 54px;
  left: 14px; }

/*TEXT CONTAINER STYLES*/
.textContainer {
  /*background-color: #c49db0;*/
  width: 100%;
  /*min-height: 200px;*/
  position: relative; }

.wrapperText {
  margin: 0 auto;
  width: 80%;
  margin-top: 18px;
  font-size: 21px;
  font-weight: bold;
  color: #393A36; }

.textBox {
  display: inline-block;
  background-color: #F8F8F8;
  width: 31%;
  margin-top: 55px;
  margin-right: 15px;
  vertical-align: top;
  min-height: 269px;
  border-bottom: 3px solid #878787; }

.date {
  font-size: 12px;
  color: #C8C8C8; }

.textArea {
  font-size: 11px;
  color: #898989;
  min-height: 93px;
  font-weight: 800; }

.textAreaLast {
  font-size: 10px;
  color: #898989;
  min-height: 122px;
  margin-bottom: 38px; }

.readMore {
  text-align: center;
  color: #B74247;
  font-size: 12px; }

/*SKATER PROFILE CONTAINER STYLES*/
.skaterProfileContainer {
  width: 100%;
  min-height: 200px;
  position: relative;
  margin-top: 21px;
  font-family: 'Biryani', sans-serif; }

.profileLeftContainer {
  display: inline-block;
  width: 70%; }

.profileRightContainer {
  display: inline-block;
  width: 27%;
  height: 170px; }

.lanceContainer {
  background-image: url(../lance.png);
  background-repeat: no-repeat;
  display: inline-block;
  height: 164px;
  width: 47.7%;
  border: 3px solid white;
  background-size: 346px;
  background-position-x: -67px; }

.lanceContainer p {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: 43px 78px;
  font-family: 'Biryani', sans-serif; }

.lanceContainer span {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: -26px -43px; }

.rodneyContainer {
  background-image: url(../rodney.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 164px;
  width: 49%;
  border: 3px solid white; }

.rodneyContainer p {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: 43px 78px;
  font-family: 'Biryani', sans-serif; }

.rodneyContainer span {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: -28px 1px;
  font-family: 'Biryani', sans-serif; }

.steveContainer {
  background-image: url(../steve.png);
  background-repeat: no-repeat;
  height: 180px;
  width: 98.7%;
  border: 3px solid white;
  background-position-y: -44px;
  background-size: 577px;
  background-position-x: 2px; }

.steveContainer p {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: 71px 153px;
  font-family: 'Biryani', sans-serif; }

.tommyContainer {
  background-image: url(../tommy.png);
  background-repeat: no-repeat;
  height: 360px;
  width: 98.7%;
  border: 3px solid white;
  background-size: 637px;
  background-position-x: -299px;
  background-position-y: 2px; }

.tommyContainer p {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: 147px 47px;
  font-family: 'Biryani', sans-serif; }

.tommyContainer span {
  color: white;
  position: absolute;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 35px;
  margin: -24px -44px; }

/*SKATE BOARD CONTAINER STYLES*/
.skateBoardContainer {
  background-color: white;
  width: 98%;
  position: relative;
  margin-top: 35px;
  border-bottom: 3px solid #949494; }

.wrapperSkateBoard {
  width: 90%;
  margin: 0 auto; }

.skateBoardBox {
  display: inline-block;
  width: 9.4%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 211px;
  background-size: 73%;
  background-position: center;
  padding: 16px 0; }

#one {
  background-image: url(../sk8-3.png); }

#two {
  background-image: url(../sk8-4.png); }

#three {
  background-image: url(../sk8-5.png); }

#four {
  background-image: url(../sk8-6.png); }

#five {
  background-image: url(../sk8-7.png); }

#six {
  background-image: url(../sk8-8.png); }

#seven {
  background-image: url(../sk8-9.png); }

#eight {
  background-image: url(../sk8-10.png); }

#nine {
  background-image: url(../sk8-2.png); }

#ten {
  background-image: url(../sk8-1.png); }

/*FOOOTER STYLES*/
footer {
  background-color: white;
  width: 98%;
  /*min-height: 200px;*/
  position: relative;
  color: #444543;
  margin-top: 20px; }

.wrapperFooter {
  margin: 0 auto;
  width: 90%; }

.aside {
  width: 45%;
  padding: 30px 0px;
  display: inline-block; }

.aside h7 {
  font-weight: 600;
  font-size: 16px; }

.aside p {
  font-weight: 100;
  font-size: 13px; }

.footerSocialContainer {
  width: 51%; }

.footerSocialBox {
  background-color: grey;
  width: 20%;
  min-height: 34px;
  margin-right: 5px;
  display: inline-block; }

#facebook {
  background-image: url(facebookFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #4F4F4F; }

#rss {
  background-image: url(rssFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #ADADAD; }

#twitter {
  background-image: url(twitterFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #7B7B7B; }

#youtube {
  background-image: url(youtubeFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #757575; }

.section {
  width: 45%;
  padding: 30px 0px;
  display: inline-block; }

textarea {
  width: 53%;
  height: 30px; }

@media (min-width: 0px) and (max-width: 400px) {
  body {
    background-attachment: fixed; }
  .wrapper {
    width: 92%; }
  .socialContainer {
    width: 79%; }
  .navLinksContainer {
    width: 48.1%; }
  .sliderPic {
    height: 168px;
    background-position-y: -72px;
    background-position-x: -123px;
    background-size: 193%; }
  .sliderPic img {
    height: 53%;
    top: 45px; }
  .overlaySlider {
    bottom: 33px; }
  .textBox {
    display: block;
    width: 60%;
    margin: 0 auto;
    min-height: 213px; }
  .head {
    font-size: 15px; }
  .date {
    font-size: 7px; }
  .arrowContainer {
    display: none; }
  .arrowPoint {
    display: none; }
  .profileLeftContainer {
    display: block;
    width: 100%; }
  .profileRightContainer {
    display: block;
    width: 100%; }
  .lanceContainer {
    width: 100%;
    display: block;
    margin-bottom: 8%;
    height: 151px;
    background-size: 351px;
    background-position-x: -7px; }
    .lanceContainer p {
      margin: 47px 112px; }
  .rodneyContainer {
    width: 100%;
    display: block;
    margin-bottom: 8%;
    height: 151px; }
  .steveContainer {
    width: 100%;
    display: block;
    margin-bottom: 8%;
    height: 151px; }
    .steveContainer p {
      margin: 42px 84px; }
    .steveContainer span {
      margin: 0px -33px; }
  .tommyContainer {
    width: 100%;
    display: block;
    height: 151px;
    background-size: 622px;
    background-position-x: -273px;
    background-position-y: -51px; }
    .tommyContainer p {
      margin: 46px 105px; }
  .skateBoardContainer {
    max-height: 876px; }
  .skateBoardBox {
    width: 24.4%;
    transform: rotate(90deg);
    display: block;
    margin: 0px 37%; }
  #one {
    position: relative;
    top: -73px; }
  #two {
    position: relative;
    top: -231px; }
  #three {
    position: relative;
    top: -386px; }
  #four {
    position: relative;
    top: -541px; }
  #five {
    position: relative;
    top: -701px; }
  #six {
    position: relative;
    top: -863px; }
  #seven {
    position: relative;
    top: -1029px; }
  #eight {
    position: relative;
    top: -1190px; }
  #nine {
    position: relative;
    top: -1352px; }
  #ten {
    position: relative;
    top: -1503px; } }
