

/*UNIVERSAL STYLES*/
body {
  background-image: url(../church.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
  font-family: 'Open Sans Condensed', sans-serif; }

.backgroundOverlay {
  width: 100%;
  position: absolute;
  background-color: #f8f8f8;
  opacity: .2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.wrapper {
  width: 60%;
  margin: 0 auto;
  /*min-height: 900px;*/ }

/*HEADER STYLES*/
header {
  /*background-color: lightpink;*/
  width: 100%;
  text-align: right; }

header p {
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: #D1CDCA;
  text-transform: uppercase;
  vertical-align: text-bottom;
  margin-right: 7px; }

header div {
  display: inline-block; }

header ul {
  margin-right: -168px;
  position: relative; }

header li {
  font-size: 8px;
  margin-top: -5px;
  margin-left: 112px;
  color: white; }

.socialContainer {
  display: inline-block;
  width: 40%;
  padding-top: 4px;
  position: relative; }

.facebookBox {
  width: 13%;
  height: 37px;
  display: inline-block;

  vertical-align: bottom;
  background-image: url(../facebook.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative;

}
.rssBox {
  width: 13%;
  height: 37px;
  /*background-color: green;*/
  display: inline-block;
  /*border-bottom: 3px solid #878787;*/
  vertical-align: bottom;
  background-image: url(../instagram.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative;

}
.twitterBox {
  width: 13%;
  height: 37px;
  background-color: #6A8DC7;
  display: inline-block;
  border-bottom: 3px solid #878787;
  vertical-align: bottom;
  background-image: url(../twitterHeader.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative; }

.youtubeBox {
  width: 13%;
  height: 37px;
  background-color: #B2382D;
  display: inline-block;
  border-bottom: 3px solid #878787;
  vertical-align: bottom;
  background-image: url(../youtubeHeader.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative; }

/*NAV CONTAINER STYLES*/
.navContainer {
  width: 100%; }

.navLinksContainer {
  background-color: #BEBEBE;
  width: 24.1%;
  display: inline-block;
  height: 30px;
  border-bottom: #919091 3px solid;
  margin-left: 4px;
  margin-right: -1.1px;
  position: relative;
  text-align: center; }

.navHeader {
  display: inline-block;
  margin-top: 3%; }

.navHeader p {
  display: inline-block;
  text-transform: uppercase;
  font-size: 15px;
  color: #F4EDE3;
  margin: 0 auto;
  font-weight: 100;
  margin: 0px 5px; }

.navHeader p:first-child, p:last-child {
  font-weight: 900;
  margin: 0px 8px;
  font-family: ariel; }

/*SLIDER CONTAINER STYLES*/
.sliderContainer {

  width: 100%;
  min-height: 200px;
  position: relative; }

.sliderPic {
  margin-top: 22px;
border: white 7px solid;
width: 99%;
background-image: url(../long.jpg);
background-size: 103%;
height: 260px;
background-repeat-y: 337;
background-repeat: no-repeat;
background-position-y: 3px;
background-position-x: -25px;
box-sizing: border-box;}

.overlaySlider {
top: 0;
left: 0;
background-color: white;
right: 0;
bottom: 0;
margin-top: 7px;
position: absolute;
margin-left: 1px;
width: 98%;
opacity: .3;
 }



/*TEXT CONTAINER STYLES*/
.textContainer {

  width: 100%;

  position: relative; }

.wrapperText {
  margin: 0 auto;
  width: 80%;
  margin-top: 18px;
  font-size: 21px;
  font-weight: bold;
  color: #393A36; }

.textBox {
  display: inline-block;
  background-color: #F8F8F8;
  width: 31%;
  margin-top: 55px;
  margin-right: 15px;
  vertical-align: top;
  min-height: 269px;
  border-bottom: 3px solid #878787; }

.date {
  font-size: 12px;
  color: #C8C8C8; }

.textArea {
  font-size: 11px;
  color: #898989;
  min-height: 93px;
  font-weight: 800; }

.textAreaLast {
  font-size: 10px;
  color: #898989;
  min-height: 122px;
  margin-bottom: 38px; }

.readMore {
  text-align: center;
  color: #B74247;
  font-size: 12px; }

/*SKATER PROFILE CONTAINER STYLES*/
.skaterProfileContainer {
  width: 100%;
  min-height: 200px;
  position: relative;

  font-family: 'Biryani', sans-serif; }

.profileLeftContainer {
  display: inline-block;
  width: 65%; }

.profileRightContainer {
  display: inline-block;
  width: 29%;


  }

.lanceContainer {
  background-image: url();
  background-repeat: no-repeat;
  display: inline-block;
  height: 200px;
  width: 47.7%;
  border: 3px solid white;


}

.rodneyContainer {
  background-image: url();
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  height: 200px;
  width: 49%;
  border: 3px solid white; }





.steveContainer {
  background-image: url();
  background-repeat: no-repeat;
  height: 180px;
  width: 98.7%;
  border: 3px solid white;
   }



.tommyContainer {
  background-image: url(../church.jpg);
  background-repeat: no-repeat;
    height: 360px;
    width: 98.7%;
    border: 3px solid white;



 }



/*SKATE BOARD CONTAINER STYLES*/
.skateBoardContainer {
  background-color: white;
  width: 98%;
  position: relative;
  margin-top: 35px;
  border-bottom: 3px solid #949494; }

.wrapperSkateBoard {
  width: 90%;
  margin: 0 auto; }

.skateBoardBox {
  display: inline-block;
  width: 9.4%;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 211px;
  background-size: 73%;
  background-position: center;
  padding: 16px 0; }

#one {
  background-image: url(sk8-3.png); }

#two {
  background-image: url(sk8-4.png); }

#three {
  background-image: url(sk8-5.png); }

#four {
  background-image: url(sk8-6.png); }

#five {
  background-image: url(sk8-7.png); }

#six {
  background-image: url(sk8-8.png); }

#seven {
  background-image: url(sk8-9.png); }

#eight {
  background-image: url(sk8-10.png); }

#nine {
  background-image: url(sk8-2.png); }

#ten {
  background-image: url(sk8-1.png); }

/*FOOOTER STYLES*/
footer {
  background-color: white;
  width: 98%;
  /*min-height: 200px;*/
  position: relative;
  color: #444543;
  margin-top: 20px; }

.wrapperFooter {
  margin: 0 auto;
  width: 90%; }

.aside {
  width: 45%;
  padding: 30px 0px;
  display: inline-block; }

.aside h7 {
  font-weight: 600;
  font-size: 16px; }

.aside p {
  font-weight: 100;
  font-size: 13px; }

.footerSocialContainer {
  width: 51%; }

.footerSocialBox {
  background-color: grey;
  width: 20%;
  min-height: 34px;
  margin-right: 5px;
  display: inline-block; }

#facebook {
  background-image: url(facebookFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #4F4F4F; }

#rss {
  background-image: url(rssFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #ADADAD; }

#twitter {
  background-image: url(twitterFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #7B7B7B; }

#youtube {
  background-image: url(youtubeFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #757575; }

.section {
  width: 45%;
  padding: 30px 0px;
  display: inline-block; }

textarea {
  width: 53%;
  height: 30px; }
