
/*FOOOTER STYLES*/
footer{
  background-color: white;
  width: 98%;
  /*min-height: 200px;*/
  position: relative;
  color: #444543;
  margin-top: 20px;
}

.wrapperFooter{
  margin: 0 auto;
  width: 90%;
}

.aside{
  width: 45%;
  padding: 30px 0px;
  display: inline-block;
}

.aside h7{
  font-weight: 600;
  font-size: 16px;
}

.aside p{
  font-weight: 100;
    font-size: 13px;
}

.footerSocialContainer{
  width: 51%;

}

.footerSocialBox{
  background-color: grey;
  width: 20%;
  min-height: 34px;
  margin-right: 5px;
  display: inline-block;
}

#facebook{
  background-image: url(facebookFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #4F4F4F;

}

#rss{
  background-image: url(rssFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #ADADAD;
}

#twitter{
  background-image: url(twitterFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #7B7B7B;
}

#youtube{
  background-image: url(youtubeFooter.png);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position-x: 45%;
  background-position-y: 50%;
  background-color: #757575;
}

.section{
  width: 45%;
  padding: 30px 0px;
  display: inline-block;
}

textarea{
  width: 53%;
  height: 30px;

}
