@media (min-width: 0px) and (max-width: 400px) {
  body{
    background-attachment: fixed;
  }
  .wrapper{
    width: 92%;
  }
  .socialContainer{
    width: 79%;
  }
  .navLinksContainer{
        width: 48.1%;
  }
  .sliderPic{
        height: 168px;
        background-position-y: -72px;
        background-position-x: -123px;
        background-size: 193%;
  }
  .sliderPic img{
    height: 53%;
    top: 45px;
  }
  .overlaySlider{
    bottom: 33px;
  }
  .textBox{
    display: block;
    width: 60%;
    margin: 0 auto;
    min-height: 213px;
  }
  .head{
    font-size: 15px;
  }
  .date{
    font-size: 7px;
  }
  .arrowContainer{
    display:none;
  }
  .arrowPoint{
    display:none;
  }
  .profileLeftContainer{
    display: block;
    width: 100%;
  }
  .profileRightContainer{
    display: block;
    width: 100%;
  }
  .lanceContainer{
    width: 100%;
    display: block;
    margin-bottom: 8%;
    height: 151px;
    background-size: 351px;
    background-position-x: -7px;
    p{
        margin:47px 112px;
    }
  }
  .rodneyContainer{
    width: 100%;
    display: block;
    margin-bottom: 8%;
    height: 151px;
  }
  .steveContainer{
    width: 100%;
    display: block;
    margin-bottom: 8%;
    height: 151px;
    p{
      margin: 42px 84px;
    }
    span{
      margin: 0px -33px;
    }
  }
  .tommyContainer{
    width: 100%;
    display: block;
    height: 151px;
    background-size: 622px;
    background-position-x: -273px;
    background-position-y: -51px;
    p{
      margin: 46px 105px;
    }
  }
  .skateBoardContainer{
    max-height: 876px;
  }
  .skateBoardBox{
    width: 24.4%;
    transform: rotate(90deg);
    display: block;
    margin: 0px 37%;
  }
  #one{
    position: relative;
    top: -73px;
  }
  #two{
    position: relative;
    top: -231px;
  }
  #three{
    position: relative;
    top: -386px;
  }
  #four{
    position: relative;
    top: -541px;
  }
  #five{
    position: relative;
    top: -701px;
  }
  #six{
    position: relative;
    top: -863px;
  }
  #seven{
    position: relative;
    top: -1029px;
  }
  #eight{
    position: relative;
    top: -1190px;
  }
  #nine{
    position: relative;
    top: -1352px;
  }
  #ten{
    position: relative;
    top: -1503px;
  }
}
