
/*SKATE BOARD CONTAINER STYLES*/
.skateBoardContainer{
  background-color: white;
  width: 98%;
  position: relative;
  margin-top: 35px;
  border-bottom: 3px solid hsl(0, 0%, 58%);
}

.wrapperSkateBoard{
  width: 90%;
  margin: 0 auto;
}

.skateBoardBox{
  display: inline-block;
    width: 9.4%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 211px;

    background-size: 73%;
    background-position: center;
    padding: 16px 0;
}

#one{
  background-image: url(../sk8-3.png);
}
#two{
  background-image: url(../sk8-4.png);
}
#three{
  background-image: url(../sk8-5.png);
}
#four{
  background-image: url(../sk8-6.png);
}
#five{
  background-image: url(../sk8-7.png);
}
#six{
  background-image: url(../sk8-8.png);
}
#seven{
  background-image: url(../sk8-9.png);
}
#eight{
  background-image: url(../sk8-10.png);
}
#nine{
  background-image: url(../sk8-2.png);
}
#ten{
  background-image: url(../sk8-1.png);
}
