/*TEXT CONTAINER STYLES*/
.textContainer{
  /*background-color: #c49db0;*/
  width: 100%;
  /*min-height: 200px;*/
  position: relative;
}

.wrapperText{
  margin: 0 auto;
  width: 80%;
  margin-top: 18px;
  font-size: 21px;
  font-weight: bold;
  color: #393A36;
}

.textBox{
  display: inline-block;
  background-color: #F8F8F8;
  width: 31%;
  margin-top: 55px;
  margin-right: 15px;
  vertical-align: top;
  min-height: 269px;
  border-bottom: 3px solid hsl(0, 0%, 53%);
}

.date{
  font-size: 12px;
  color: #C8C8C8;
}

.textArea{
    font-size: 11px;
    color: #898989;
    min-height: 93px;
    font-weight: 800;
}

.textAreaLast{
  font-size: 10px;
  color: #898989;
  min-height: 122px;
  margin-bottom: 38px;
}

.readMore{
  text-align: center;
  color: #B74247;
  font-size: 12px;
}
