/*UNIVERSAL STYLES*/
body{
  background-image: url(bg.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
  font-family:'Open Sans Condensed', sans-serif;
}

.backgroundOverlay{
  width: 100%;
  background-color: yellow;
  position: absolute;
  background-color: #222222;
  opacity: .7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.wrapper{
  width: 60%;
  margin: 0 auto;
  /*min-height: 900px;*/
}
