/*UNIVERSAL STYLES*/
body{
  background-image: url(bg.jpg);
  background-size: cover;
  width: 100%;
  position: relative;
}

.backgroundOverlay{
  width: 100%;
  background-color: yellow;
  position: absolute;
  background-color: #222222;
  opacity: .7;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.wrapper{
  width: 60%;
  margin: 0 auto;
  min-height: 900px;
}

/*HEADER STYLES*/
header{
  /*background-color: lightpink;*/
  width:100%;
  text-align: right;
}

header p{
  display: inline-block;
  position: relative;
  font-size: 12px;
  color: white;
  text-transform: uppercase;
  vertical-align: text-bottom;
  margin-right: 7px;
  left: 108px;
}

header div{
  display: inline-block;
}

header ul{
  margin-right: -168px;
  position: relative;
}

header li{
    font-size: 10px;
    margin-top: -5px;
    margin-left: 112px;
    color: white;
}


.socialContainer{
  display: inline-block;
  width: 40%;
  padding-top: 4px;
}

.facebookBox {
  width: 13%;
  height: 37px;
  display: inline-block;
  border-bottom: #8F908F solid 3px;
  vertical-align: bottom;
  background-image: url(facebookwhite.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative;
}
.overlay{
  position: absolute;
  height: 37px;
  width: 3.1%;
  background-color: rgba(27, 35, 97, 0.98);
  opacity: .7;
}
.rssBox {
  width: 13%;
  height: 37px;
  /*background-color: green;*/
  display: inline-block;
  border-bottom: #8F908F solid 3px;
  vertical-align: bottom;
  background-image: url(rss.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative;
}

.overlayRss{
  position: absolute;
  height: 37px;
  width: 3.1%;
  background-color: #D6BE13;
  opacity: 1;
}

.twitterBox {
  width: 13%;
  height: 37px;
  /*background-color: green;*/
  display: inline-block;
  border-bottom: #8F908F solid 3px;
  vertical-align: bottom;
  background-image: url(twitter.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative;
}

.overlayTwitter{
  position: absolute;
  height: 37px;
  width: 3.1%;
  background-color: #1385D6;
  opacity: 1;
}

.youtubeBox {
  width: 13%;
  height: 37px;
  /*background-color: green;*/
  display: inline-block;
  border-bottom: grey solid 3px;
  vertical-align: bottom;
  background-image: url(youtube.png);
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 9px;
  background-position-y: 6px;
  position: relative;
}

.overlayYoutube{
  position: absolute;
  height: 37px;
  width: 3.1%;
  background-color: #D64013;
  opacity: 1;
}

/*NAV CONTAINER STYLES*/
.navContainer{
  width:100%;
}

.navLinksContainer{
  background-color: #B4292E;
  width: 24.1%;
  display: inline-block;
  height: 30px;
  border-bottom: #919091 3px solid;
  margin-left: 4px;
  margin-right: -1.1px;
  position: relative;
  text-align: center;
}

.navHeader{
  display: inline-block;
  margin-top: 3%;
}

.navHeader p{
  display: inline-block;
  text-transform: uppercase;
  font-size: 14px;
  color: white;
  margin: 0 auto;
  font-weight: 100;
}

/*SLIDER CONTAINER STYLES*/
.sliderContainer{
  /*background-color: grey;*/
  width: 100%;
  min-height: 200px;
  position: relative;
}

.sliderPic{
    margin-top: 22px;
    border: white 7px solid;
    width: 100%;
    background-image: url(top-image.png);
    background-size: 132%;
    height: 260px;
    background-repeat-y: 337;
    background-repeat: no-repeat;
    background-position-y: -115px;
    background-position-x: -86px;
}

.overlaySlider{
  background-image: url(grid.png);
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 7px;
  position: absolute;
  margin-left: 8px;
  width: 100%;
  opacity: .2;
}
.sliderPic img{
  position: relative;
  height: 158px;
  top: 54px;
  left: 14px;
}



/*TEXT CONTAINER STYLES*/
.textContainer{
  /*background-color: #c49db0;*/
  width: 100%;
  /*min-height: 200px;*/
  position: relative;
}

.wrapperText{
  margin: 0 auto;
  width: 80%;
  margin-top: 18px;
}

.textBox{
  display: inline-block;
  background-color: #F8F8F8;
  width: 31%;
  /* max-height: 252px; */
  margin-top: 55px;
  margin-right: 15px;
}

h6{
  font-size: 14px;
}

.date{
  font-size: 10px;
  color: #C8C8C8;
}

.textArea{
  font-size: 11px;
  color: #898989;
}

.readMore{
  text-align: center;
  color: #B74247;
  font-size: 12px;
}

/*SKATER PROFILE CONTAINER STYLES*/
.skaterProfileContainer{
  width: 100%;
  min-height: 200px;
  position: relative;
  margin-top: 21px;
}

.profileLeftContainer{
  display: inline-block;
  width: 70%;
}

.profileRightContainer{
  display: inline-block;
  width: 27%;
  height: 170px;
}

.lanceContainer{
  background-image: url(lance.png);
    background-repeat: no-repeat;
    display: inline-block;
    height: 164px;
    width: 47.7%;
    border: 3px solid white;
    background-size: 346px;
    background-position-x: -67px;
}

.rodneyContainer{
    background-image: url(rodney.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    height: 164px;
    width: 49%;
    border: 3px solid white;

}

.steveContainer{
  background-image: url(steve.png);
  background-repeat: no-repeat;
  height: 180px;
  width: 98.7%;
  border: 3px solid white;
  background-position-y: -44px;
  background-size: 577px;
  background-position-x: 2px;
}

.tommyContainer{
    background-image: url(tommy.png);
    background-repeat: no-repeat;
    height: 353px;
    width: 98.7%;
    border: 3px solid white;
    background-size: 607px;
    background-position-x: -299px;
    background-position-y: 2px;
}



/*SKATE BOARD CONTAINER STYLES*/
.skateBoardContainer{
  /*background-color: #eeeeee;*/
  width: 100%;
  min-height: 200px;
}

/*FOOOTER STYLES*/
footer{
  /*background-color: #b4eacf;*/
  width: 100%;
  min-height: 200px;
}
